/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #2a3663;
  padding: 0 120px;
  color: #faf6e3;
  display: flex;
  flex-direction: column;
}

.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 20px;
  height: 10vh;
}

.body-div {
  display: flex;
  justify-content: space-evenly;
  height: 70vh;
  width: 80vw;
  gap: 20px;
  background-color: #d8dbbd;
  border-radius: 2%;
  padding: 20px;
  border: solid 2px;
  color: #2a3663;
}
.body-sub-div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.footer-div {
  margin-top: auto;
  justify-content: flex-end;
  align-content: center;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  height: 10vh;
}

h1 {
  font-family: "Rubik Vinyl", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  margin-bottom: 20px;
}
